
.tourInnerDetails {
    position: relative;

    & .MeImageDiscription {
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: justify;
        color: white;
        padding: 7px;
        height: 300px;
        width: 100%;
        background-color: #120a39;
        display: none;
        font-size: 15px;
    }

    & .MeTourImage {
        width: 100%;
        height: 300px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}