.contactImage {
    width: 100%;
    height: 500px;
}

.contactImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactMap {
    width: 100%;
    height: 450px;
}

.contactMap iframe {
    width: 100%;
    height: 100%;
}


.ContactInputData {
    background-color: white;
    padding: 2px;
    border: 1px solid rgb(132, 130, 130);

    & .formControl {
        width: 100%;
        border: none;
        display: flex;
        padding: 5px 10px;
        margin-bottom: 7px;

    }

    & .InputControl {
        display: flex;
        flex-direction: column;
        margin: auto 5px;
        width: 100%;


        & input {
            border-radius: 7px;
            padding: 3px;
            outline: none;
            border: 1px solid rgb(173, 173, 173);
        }

        & input:focus,
        #StyleDuration:focus,
        #Comment:focus {
            border: 1px solid #007bff;

        }

        & #Comment {
            border-radius: 7px;
            outline: none;
            padding: 7px;
            border: 1px solid rgb(173, 173, 173);
        }

        & label {
            font-weight: 600;
            /* color: white; */
            font-size: 17px;
        }

        & #StyleDuration {
            width: 100%;
            padding: 3px;
            outline: none;
            border-radius: 7px;
            border: 1px solid rgb(173, 173, 173);
        }

        & .mendatary {
            color: red;
            font-weight: bold;
        }

        & #international,
        #domestic {
            font-weight: bold;
            font-size: 18px;
            color: black;
        }

    }

    & .TextAreaControl {
        width: 98.5%;
    }

    & .FormButton {
        margin: auto 5px;
        width: 100%;
        text-align: center;
        background-color: #007bff;
        border-radius: 7px;

        & button {
            border: none;
            color: white;
            background-color: transparent;
            font-size: 18px;
            padding: 5px;
            outline: none;

        }

    }

    .FormButton:hover {
        background-color: #0548ad;
        transition: .5s;
    }

}

.contactDetails {
    background-color: white;
    text-align: center;
    border: 1px solid rgb(132, 130, 130);
    padding: 8px 20px;
    color: white;

    & i {
        color: white;
        text-align: center;
    }
}

.contactInnerDetails {
    margin: 14px 0;
    border: 1px solid black;
    background-color: #120a39;
    padding: 10px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    & h5 {
        margin: 0;
        font-weight: 600;
    }
}