.footerImage {
    width: 100%;
    height: 450px;
}

.footerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    position: relative;
}

.suscribe1 {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px white;
    display: inline;
    background-color: rgba(195, 194, 194, 0.4);
}

.suscribe {
    text-align: center;
    position: absolute;
    top: 50px;
    /* left: 30%; */

}

.footerspan,
.footerInput,
.footerBtn {
    font-size: 18px;
    margin-right: 20px;
    padding: 5px;

}

.footerInput {
    outline: none;
    color: #05203c;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px white;
    background-color: rgba(255, 255, 255, .1);
}

::placeholder {
    color: #05203c;
}

.footerspan {
    color: #05203c;
    font-weight: 600;
}

.footerBtn {
    border: none;
    color: #05203c;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 15px;
    box-shadow: 0 0 5px white;
}

.footerBtn:hover {
    transition: .6s;
    background-color: rgba(255, 255, 255, 1);
}

.foot {
    /* background-color: #060c28; */
     background-color:#0d0534;
    padding: 60px 30px 20px;
}

.box6 {
    font-weight: 500;
    color: white;
    margin-left: 50px;
}

.box6 ul li {
    list-style: none;
    line-height: 40px;
    margin-left: -32px;
}

.box6 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.box6 a:hover {
    text-decoration: underline;
    color: #116ffc;
    transition: .3s;
}

.box6 i {
    margin-right: 20px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}

hr {
    width: 80%;
}

.LastFooter {
    background-color: #070e2f;
    color: white;
    font-weight: 500;
    padding: 10px;
}

.LastFooter p {
    text-align: center;
    margin-top: 15px;

}

.LastFooter p span {
    display: flex;
    justify-content: center;
}

.box a {
    text-decoration: none;
}

.updatedata1 {
    cursor: pointer;
}