.foot {
    background-color: #120a39;
    padding: 10px 20px;

    & .box6 {
        
        & h3 {
            text-align: center;
            color: white;
        }

        & ul {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-left: -20px;
            & li {
                list-style: none;
                text-align: center;
            }

            & a {
                text-decoration: none;
                color: white;
            }

            & a:hover {
                text-decoration: underline;
                color: #116ffc;
                transition: .3s;
            }
        }

        & i {
            margin:0 10px 5px 0; 
            border: 1px solid white;
            padding: 5px;
            border-radius: 50%;
        }

    }
   

}

.box6 hr {
    width: 130px;
    color: white;
    margin: 5px auto 20px;
}

.LastFooter {
    background-color: #02072a;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.LastFooter p {
    text-align: center;
    margin-top: 15px;

}

.LastFooter p span {
    display: flex;
    justify-content: center;
}