.terms {
    & .image {
        width: 100%;
        height: 400px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}

.tCont {

    & p{
        line-height: 35px;
        font-size: 17px;
        color: grey;
        margin: 0;
        text-align: justify;
        /* font-family: 'Montserrat', sans-serif; */
    }

   & h4{
        color: grey;
        font-weight: 600;
        margin: 15px 0;
        font-size: 19px;
    }
}
